
body {
    margin: 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
    position: absolute;
    width: 100%;
}

textarea {
    flex: 1;
    padding: 8px 8px 120px 8px;
    font-size: 13px;
    font-family: Source Code Pro, Menlo, Consolas, monospace;
    line-height: 20px;
    border: 1px solid hsl(0,0%,80%);
    outline: none;
    resize: none;
}

#source {
    width: 50%;
    height: 100%;
}

#compiled {
    width: 50%;
    height: 100%;
}
